yarn-error.log
.DS_Store
.env
*secret.*

/node_modules/
/.svelte
/build
/functions

/src/node_modules/@sapper/
/coverage/
/cypress/screenshots/

/__sapper__/
functions/

# Local static site config folder
.netlify
.vercel
