:root {
	--font-scale: 1.067;
	--rounding-base: 0.325rem;
	--rounding-box: calc(var(--rounding-base) * 2);

	--transition-base: 150ms;
	--transition-fast: calc(var(--transition-base) / 2);
	--transition-slow: calc(var(--transition-base) * 2);

	--size-h1: clamp(2rem, 5vw + 1rem, 3.4rem);
	--size-h2: clamp(1.8rem, 5vw + 0.75rem, 2.6rem);
	--size-h3: clamp(1.5rem, 4vw + 0.5rem, 2rem);
	--size-h4: clamp(1.1rem, 3vw + 0.25rem, 1.4rem);
	--size-small: clamp(0.8rem, 2vw + 0.1rem, 0.9rem);

	--color-base: oklch(0.1554 0.0042 286);
	--color-surface: oklch(0.1978 0.0042 286);
	--color-overlay: oklch(0.2402 0.0042 286);
	--color-border: oklch(0.2826 0.0084 286);
	--color-code-block: #1c1c21;

	--color-text: oklch(0.7886 0.0055 298);
	--color-text-muted: oklch(0.7089 0.0144 286);

	--color-accent-primary: #c49e45; /* forged-brass-gold */
	--color-accent-secondary: #6b5ca5; /* arcane-violet */
	--color-accent-tertiary: #ce5a57; /* red-rust */
	--color-form-error: #b24d4d; /* red-oxide */
	--color-form-highlight: #5fbceb;

	--font-monospace: 'Fira Code Variable', monospace;
}

html,
body {
	min-height: unset;
	display: flex;
	flex-direction: column;

	font-family: 'Karla Variable', sans-serif;
	font-size: calc(1rem * var(--font-scale));
	background: var(--color-base);
	color: var(--color-text);
}

:focus,
:focus-visible {
	border-radius: calc(var(--rounding-base) / 5);
	outline: 1px solid var(--color-text);
}

a,
.underlined {
	color: oklch(0.9086 0.0055 298);
	text-decoration-thickness: 2px;
	text-decoration-line: underline;
	text-decoration-color: oklch(0.5999 0 0 / 40%);
}
a:hover,
.underlined:hover {
	text-decoration-color: oklch(0.5999 0 0 / 80%);
}

code {
	top: unset;
	padding: 0;
	border-radius: var(--rounding-base);
	background: unset;
	line-height: unset;
}

h1 {
	--size: var(--size-h1);
	line-height: 1;
	font-size: var(--size);
}
h2 {
	--size: var(--size-h2);
	line-height: 1.1;
	font-size: var(--size);
}
h3 {
	--size: var(--size-h3);
	line-height: 1.2;
	font-size: var(--size);
}
h4 {
	--size: var(--size-h4);
	line-height: 1.4;
	font-size: var(--size);
}

small {
	font-size: var(--size-small);
}

@media (min-width: 549px) {
	[data-visible='mobile'] {
		display: none;
	}
}
