:root {
	--font-scale: 1.034;
	--font-base: 'Newsreader Variable', 'Georgia', serif;
	--font-sans: 'Recursive Variable', system-ui, sans-serif;
	--font-mono: 'Recursive Variable', ui-monospace, monospace;
	--font-sans-variation: 'MONO' 0, 'CASL' 0.4, 'CRSV' 0;
	--font-mono-variation: 'MONO' 1, 'CASL' 0.1, 'CRSV' 0;

	--size-h1: calc(clamp(2rem, 5vw + 1rem, 3.4rem) * var(--font-scale));
	--size-h2: calc(clamp(1.8rem, 5vw + 0.75rem, 2.6rem) * var(--font-scale));
	--size-h3: calc(clamp(1.5rem, 4vw + 0.5rem, 2rem) * var(--font-scale));
	--size-h4: calc(clamp(1.1rem, 3vw + 0.25rem, 1.4rem) * var(--font-scale));
	--size-base: calc(clamp(1rem, 2vw + 0.5rem, 1.15rem) * var(--font-scale));
	--size-small: calc(clamp(0.8rem, 2vw + 0.1rem, 0.9rem) * var(--font-scale));

	--rounding-base: 0.325rem;
	--rounding-box: calc(var(--rounding-base) * 2);

	--transition-base: 150ms;
	--transition-fast: calc(var(--transition-base) / 2);
	--transition-slow: calc(var(--transition-base) * 2);

	--color-base: oklch(0.144 0.008 275);
	--color-surface: oklch(0.186 0.016 275);
	--color-overlay: oklch(0.232 0.016 275);
	--color-border: oklch(0.276 0.008 275);
	--color-code-block: #1c1c21;

	--color-text: oklch(0.787 0.008 275);
	--color-text-muted: oklch(0.717 0.008 275);
	--color-accent-primary: oklch(0.424 0.18 275);
	--color-accent-secondary: oklch(0.717 0.115 85);
	--color-accent-tertiary: #ce5a57; /* red-rust */
	--color-form-error: #b24d4d; /* red-oxide */
	--color-form-highlight: #5fbceb;
}

html,
body {
	min-height: unset;
	display: flex;
	flex-direction: column;

	font-family: var(--font-base);
	font-size: calc(1rem * var(--font-scale));
	font-variation-settings: var(--font-sans-variation);
	background: var(--color-base);
	color: var(--color-text);
}

:focus,
:focus-visible {
	border-radius: calc(var(--rounding-base) / 5);
	outline: 1px solid var(--color-text);
}

a,
.underlined {
	color: oklch(0.906 0.008 275);
	text-decoration-thickness: 2px;
	text-decoration-line: underline;
	text-decoration-color: oklch(1 0 0 / 34%);
}
a:hover,
.underlined:hover {
	text-decoration-color: oklch(1 0 0 / 64%);
}

code {
	top: unset;
	padding: 0;
	border-radius: var(--rounding-base);
	background: unset;
	line-height: unset;
}

h1 {
	--size: var(--size-h1);
	line-height: 1;
	font-size: var(--size);
}
h2 {
	--size: var(--size-h2);
	line-height: 1.1;
	font-size: var(--size);
}
h3 {
	--size: var(--size-h3);
	line-height: 1.2;
	font-size: var(--size);
}
h4 {
	--size: var(--size-h4);
	line-height: 1.4;
	font-size: var(--size);
}

small {
	font-size: var(--size-small);
}

@media (min-width: 549px) {
	[data-visible='mobile'] {
		display: none;
	}
}
