body,
body.light {
  --bg-color: #fff;
  --bg-color-secondary: #eee;
  --bg-success-color: #85da85;
  --bg-toggle-inactive-color: rgba(0, 0, 0, 0);
  --bg-toggle-active-color: rgba(0, 0, 0, 0.08);
  --bg-inverse: #000;

  --fg-color: rgba(0, 0, 0, 0.87);
  --fg-success-color: #000000;
  --fg-secondary-color: rgba(0, 0, 0, 0.56);

  --focus-color: rgba(0, 0, 0, 0.5);
}
body.dark {
  --bg-color: #212121;
  --bg-color-secondary: #363636;
  --bg-success-color: #008000;
  --bg-toggle-inactive-color: rgba(255, 255, 255, 0);
  --bg-toggle-active-color: rgba(255, 255, 255, 0.1);
  --bg-inverse: #fff;

  --fg-color: rgba(255, 255, 255, 0.87);
  --fg-success-color: #ffffff;
  --fg-secondary-color: rgba(255, 255, 255, 0.56);

  --focus-color: rgba(255, 255, 255, 0.5);
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  transition: 250ms;
}

p {
  color: var(--fg-color);
}

.dark a {
  color: #81a5f8;
}

code {
  background-color: #2d2d2d;
}
