html,
html.light {
  --bg-color: #eeeeee;
  --bg-card-color: #ffffff;
  --bg-success-color: #85da85;
  --bg-toggle-inactive-color: rgba(0, 0, 0, 0);
  --bg-toggle-active-color: rgba(0, 0, 0, 0.08);

  --fg-color: rgba(0, 0, 0, 0.87);
  --fg-success-color: #000000;
  --fg-secondary-color: rgba(0, 0, 0, 0.56);

  --focus-color: rgba(0, 0, 0, 0.5);
}
html.dark {
  --bg-color: #212121;
  --bg-card-color: #363636;
  --bg-success-color: #008000;
  --bg-toggle-inactive-color: rgba(255, 255, 255, 0);
  --bg-toggle-active-color: rgba(255, 255, 255, 0.1);

  --fg-color: rgba(255, 255, 255, 0.87);
  --fg-success-color: #ffffff;
  --fg-secondary-color: rgba(255, 255, 255, 0.56);

  --focus-color: rgba(255, 255, 255, 0.5);
}
@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  html {
    --bg-color: #eeeeee;
    --bg-card-color: #ffffff;
    --bg-success-color: #85da85;
    --bg-toggle-inactive-color: rgba(0, 0, 0, 0);
    --bg-toggle-active-color: rgba(0, 0, 0, 0.08);

    --fg-color: rgba(0, 0, 0, 0.87);
    --fg-success-color: #000000;
    --fg-secondary-color: rgba(0, 0, 0, 0.56);

    --focus-color: rgba(0, 0, 0, 0.5);
  }
  html.dark {
    --bg-color: #212121;
    --bg-card-color: #363636;
    --bg-success-color: #008000;
    --bg-toggle-inactive-color: rgba(255, 255, 255, 0);
    --bg-toggle-active-color: rgba(255, 255, 255, 0.1);

    --fg-color: rgba(255, 255, 255, 0.87);
    --fg-success-color: #ffffff;
    --fg-secondary-color: rgba(255, 255, 255, 0.56);

    --focus-color: rgba(255, 255, 255, 0.5);
  }
}
@media (prefers-color-scheme: dark) {
  html {
    --bg-color: #212121;
    --bg-card-color: #363636;
    --bg-success-color: #008000;
    --bg-toggle-inactive-color: rgba(255, 255, 255, 0);
    --bg-toggle-active-color: rgba(255, 255, 255, 0.1);

    --fg-color: rgba(255, 255, 255, 0.87);
    --fg-success-color: #ffffff;
    --fg-secondary-color: rgba(255, 255, 255, 0.56);

    --focus-color: rgba(255, 255, 255, 0.5);
  }
  html.light {
    --bg-color: #eeeeee;
    --bg-card-color: #ffffff;
    --bg-success-color: #85da85;
    --bg-toggle-inactive-color: rgba(0, 0, 0, 0);
    --bg-toggle-active-color: rgba(0, 0, 0, 0.08);

    --fg-color: rgba(0, 0, 0, 0.87);
    --fg-success-color: #000000;
    --fg-secondary-color: rgba(0, 0, 0, 0.56);

    --focus-color: rgba(0, 0, 0, 0.5);
  }
}
:focus {
  outline-color: var(--focus-color);
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  transition: 200ms;
}

p {
  color: var(--fg-secondary-color);
}

code {
  background-color: var(--bg-toggle-active-color);
}
