:root {
	--theme-primary: 153, 0, 0;
	--theme-secondary: 220, 20, 60;

	--t-duration: 200ms;
	--t-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html,
html.light {
	--bg-inverse: 33, 33, 33;
	--bg-color: 255, 255, 255;
	--bg-color-secondary: 238, 238, 238;
	--bg-success: 133, 218, 133;

	--fg-color: 33, 33, 33;
	--fg-success: 0, 0, 0;
}
html.dark {
	--bg-inverse: 255, 255, 255;
	--bg-color: 33, 33, 33;
	--bg-color-secondary: 54, 54, 54;
	--bg-success: 0, 128, 0;

	--fg-color: 179, 185, 197;
	--fg-success: 255, 255, 255;
}

body {
	background-color: rgba(var(--bg-color, 1));
	color: rgba(var(--fg-color, 1));
	transition: var(--t-duration) var(--t-function);
}

p {
	color: rgba(var(--fg-color, 1));
}

code {
	background-color: #2d2d2d;
}

a {
	color: #5183f5;
}
a:hover {
	color: #2161f2;
}

html.dark a {
	color: #6ab0f3;
}
html.dark a:hover {
	color: #5183f5;
}
