:root {
	--transition-duration: 200ms;
	--transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html,
html.light {
	--bg-inverse: #212121;
	--bg-color: #fff;
	--bg-color-secondary: #eee;
	--bg-success: #85da85;
	--bg-inactive: rgba(0, 0, 0, 0.2);
	--bg-active: rgba(0, 0, 0, 0.08);

	--fg-color: #212121;
	--fg-success: #000000;
	--fg-secondary-color: rgba(0, 0, 0, 0.56);

	--focus-color: rgba(0, 0, 0, 0.5);
}
html.dark {
	--bg-inverse: #fff;
	--bg-color: #212121;
	--bg-color-secondary: #363636;
	--bg-success: #008000;
	--bg-inactive: rgba(255, 255, 255, 0.2);
	--bg-active: rgba(77, 65, 65, 0.1);

	--fg-color: #b3b9c5;
	--fg-success: #ffffff;
	--fg-secondary-color: rgba(255, 255, 255, 0.56);

	--focus-color: rgba(255, 255, 255, 0.5);
}

body {
	background-color: var(--bg-color);
	color: var(--fg-color);
	transition: var(--transition-duration) var(--transition-function);
}

p {
	color: var(--fg-color);
}

code {
	background-color: #2d2d2d;
}

a {
	color: #5183f5;
}
a:hover {
	color: #2161f2;
}

html.dark a {
	color: #6ab0f3;
}
html.dark a:hover {
	color: #5183f5;
}
