:root {
	--theme-primary: rgb(153, 0, 0);
	--theme-secondary: rgb(220, 20, 60);

	--b-radius: 0.25em;

	--t-duration: 200ms;
	--t-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html,
html.light {
	--bg-inverse: rgba(33, 33, 33, 1);

	--bg-overlay: rgba(238, 238, 238, 1);
	--bg-surface: rgba(255, 255, 255, 1);
	--bg-base: rgba(255, 255, 255, 1);

	--fg-overlay: rgba(0, 0, 0, 0.6);
	--fg-surface: rgba(0, 0, 0, 0.9);
}
html.dark {
	--bg-inverse: rgba(255, 255, 255, 0.8);

	--bg-cover: rgba(56, 59, 64, 1);
	--bg-overlay: rgba(45, 47, 52, 1);
	--bg-surface: rgba(39, 41, 45, 1);
	--bg-base: rgba(31, 32, 35, 1);
	--bg-overflow: rgba(1, 1, 1, 1);

	--fg-overlay: rgba(255, 255, 255, 0.65);
	--fg-surface: rgba(255, 255, 255, 0.8);
}

html body {
	transition: var(--t-duration) var(--t-function);
	background-color: var(--bg-base);
	color: var(--fg-surface);
}

a {
	color: #5183f5;
}
a:hover {
	color: #2161f2;
}

html.dark a {
	color: #6ab0f3;
}
html.dark a:hover {
	color: #5183f5;
}
