html {
  background: #262626;
}

body {
  font-family: 'Rubik', sans-serif;
  box-shadow: 0 0 10px black;
  max-width: 49em;
  margin: 3.5em auto;
  padding: 0.5em 2.75em;
  box-sizing: border-box;
  background: #fff;
}

span.bold {
  font-weight: 600;
}

span.red {
  color: #dc143c;
}

span.green {
  color: #38761d;
}

span.blue {
  color: #0080ff;
}

a.link {
  text-decoration: none;
  color: rgb(17, 85, 204);
}

header h1 {
  margin: 0 0 0.5em 0;
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-size: 2.8em;
  font-weight: lighter;
}

section {
  padding: 0 0.25em;
  margin-bottom: 1.25em;
}

section header {
  padding: 0.2em 0.15em;
  margin-bottom: -0.2em;
  text-transform: uppercase;
  font-size: 1.25em;
  color: #f3f3f3;
  background-color: rgb(0, 128, 255);
}

section .label {
  display: flex;
  margin: 0.25em 0 0.15em;
}

section h4 {
  flex: 3;
  margin: 0.25em;
  font-size: 0.9em;
  font-weight: 400;
}

section h4:not(:first-child) {
  flex: 2;
  color: #666666;
}

section ul {
  margin: 0;
  font-weight: 600;
  font-size: 13px;
}

section ul li {
  margin-bottom: 0.2em;
  font-weight: 400;
}

footer {
  display: flex;
  font-size: 0.8em;
  font-family: 'Inconsolata', monospace;
}

footer span {
  width: 11em;
}

footer span:nth-child(2) {
  flex: 1;
  text-align: center;
}

footer span:last-child {
  text-align: right;
}

@media only screen and (max-width: 700px) {
  body {
    max-width: 28em;
    padding: 0.5em 1em;
  }

  header h1 {
    font-size: 1.6em;
  }

  section {
    margin-bottom: 0.5em;
  }

  section header {
    padding: 0.1em;
    font-size: 0.9em;
  }

  section .label {
    flex-direction: column;
    padding-left: 0.2em;
    margin-top: 0.5em;
    font-size: 0.8em;
  }

  section h4 {
    margin: 0;
  }

  section ul {
    padding-left: 1.5em;
    font-size: 0.5em;
    text-align: justify;
  }

  footer {
    font-size: 0.6em;
  }
}

@media only screen and (max-width: 400px) {
  footer {
    justify-content: space-between;
  }

  footer span:nth-child(2) {
    display: none;
  }
}
