:root {
	--theme-primary: rgb(202, 1, 35);
	--theme-secondary: rgb(220, 20, 60);

	--b-radius: 0.25rem;

	--t-duration: 240ms;
	--t-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
	--bg-inverse: rgba(255, 255, 255, 0.8);

	/* --bg-cover: rgba(56, 59, 64, 1); */
	--bg-cover: rgba(45, 47, 52, 1);
	--bg-overlay: rgba(39, 41, 45, 1);
	--bg-surface: rgba(31, 32, 35, 1);
	--bg-base: rgba(24, 24, 24, 1);
	--bg-overflow: rgba(1, 1, 1, 1);

	--fg-overlay: rgba(255, 255, 255, 0.8);
	--fg-surface: rgba(228, 230, 235, 1);
}

html,
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--bg-base);
	color: var(--fg-surface);
	font-family: 'Karla', sans-serif;
}

a {
	color: #6ab0f3;
}
a:hover {
	color: #5183f5;
}
